fastapi
uvicorn[standard]
python-multipart
requests
SQLAlchemy
alembic
pydantic
pydantic-settings
python-dotenv
tomli
python-jose[cryptography]
passlib[argon2]
opencv-python-headless
pyzbar
numpy
ultralytics
pytz
psutil
gTTS
orjson
loguru
pytest
httpx
