fastapi
uvicorn[standard]
python-multipart
requests
SQLAlchemy
alembic
pydantic
pydantic-settings
python-dotenv
tomli
python-jose[cryptography]
passlib[argon2]
opencv-python-headless
pyzbar
numpy==1.26.4
ultralytics
pytz
psutil
gTTS
orjson
loguru
pytest
httpx
python-socketio
aiohttp
opencv-python==4.8.0.76