[Unit]
Description=Auto Camera AI System
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root
# Đảm bảo đường dẫn python đúng trong venv
ExecStart=/root/venv/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 1

Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target